{% extends 'layouts/tienda.html' %} {% block content %}

<div class="min-vh-100 d-flex flex-colum py-4">
    <div class="container">
        <h3 class="animate__animated animate__bounceInDown animate__delay-0.2s text-center">CONTACTO</h3>
        <div class="row">
            <div class="col-lg-6 col-sm-04 mx-auto animate__animated animate__bounceInUp animate__delay-0.3s">
                {% load crispy_forms_tags %}
                <form method="post" action="">
                    {% csrf_token %} {{ form | crispy }}
                    <div class="justify-content-center">
                        <button type="reset" class="btn btn-secondary mt-1 mx-2" button ">Cancelar</button>
                        <button type="submit " class="btn btn-danger mt-1 " button ">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-sm-04 mt-4 rounded animate__animated animate__backInRight animate__delay-0.4s embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7932.55422046928!2d-75.5728631!3d6.22714865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4428354283a2b9%3A0x50276968876aaac3!2sColombia%2C%20El%20Poblado%2C%20Medell%C3%ADn%2C%20El%20Poblado%2C%20Medell%C3%ADn%2C%20Antioquia!5e0!3m2!1ses!2sco!4v1668578642699!5m2!1ses!2sco" 
                    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}