{% extends 'layouts/tienda.html' %}{% load static %} {% block content %}

<div class="min-vh-100 d-flex flex-colum py-2">
    <div class="container">
        <h3 class="animate__animated animate__bounceInDown animate__delay-0.3s text-center py-4">DEVOLUCIONES</h3>
        <div class="row py-auto">
            <div class="col-10 mx-auto animate__animated animate__backInRight animate__delay-0.3s ">
                <p class="text-justify">
                    Por daños y/o imperfecciones de los productos, puedes hacer la devolución dentro los 5 días hábiles siguientes. </p>
                <p class="text-justify"> Recuerda que nuestros tiempos de envios de devolución o cambio estan sujetos a la transportadora encargada.
                </p>
                <p class="text-justify">
                    <span class="font-weight-bold"> Observación:</span> Debes conservar todos los accesorios de tus productos y la factura de compra original.
                </p>
                <div class="col-10 text-right">
                    <a href="/" class="btn btn-dark my-4 mx-auto">Atras</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}